crypto-playground/src/main/mule/crypto-jce-password-based.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="crypto-jce-encrypt-pbe" doc:id="2c82ae92-a129-4cb6-8946-456f7431435b" >
		<http:listener doc:name="Listener" doc:id="0b0a600f-c3ad-4df8-ba74-dece4e5684b6" config-ref="HTTP_Listener_config" path="/jce/enc-pbe"/>
		<logger level="INFO" doc:name="Logger" doc:id="b799a223-4848-42f3-b448-804c50d4d103" message="Unencrypted paylaod is : #[payload]" category="maz.playground.crypto"/>
		<crypto:jce-encrypt-pbe doc:name="Jce encrypt pbe" doc:id="022d0c8f-7f8f-4eb5-9328-e64987bad318" password="123"/>
		<logger level="INFO" doc:name="Logger" doc:id="90e215b7-c6e6-468d-bc74-3ae121625980" message="Payload is encrypted : #[payload]" category="maz.playground.crypto"/>
		<ee:transform doc:name="To Base64" doc:id="ac511b15-9266-4ba7-bf9d-f5bfe174e035" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import dw::Crypto
import toBase64 from dw::core::Binaries
output application/json
---
toBase64(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7824d475-5025-42ad-bbe9-2d40b44423db" message="Paylaod is now converted to Base 64  : #[payload]" category="maz.playground.crypto"/>
	</flow>
	<flow name="crypto-jce-decrypt-pbe" doc:id="df114d32-b760-4d00-9a43-f6af98821d44" >
		<http:listener doc:name="Listener" doc:id="0225c37d-ef9b-450b-acf1-f6b95f99230e" config-ref="HTTP_Listener_config" path="/jce/dec-pbe"/>
		<logger level="INFO" doc:name="Logger" doc:id="082ca530-d3eb-4283-9116-2b7853ac05eb" message="Original Payload :#[payload]" category="maz.playground.crypto"/>
		<ee:transform doc:name="to Binary from Base64" doc:id="7f5ce61f-d1e8-476f-a41d-9f9e6cdcb4cd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import dw::Crypto
import fromBase64 from dw::core::Binaries
output application/octet-stream
---
fromBase64(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5dc35dbc-0da6-4a9a-b7e1-73df85ceccf6" message="Binary Paylaod is :#[payload]" category="maz.playground.crypto"/>
		<crypto:jce-decrypt-pbe doc:name="Jce decrypt pbe" doc:id="f656959c-7e2e-49e0-94f6-d6d721835a8f" password="123"/>
		<logger level="INFO" doc:name="Logger" doc:id="a3295e0c-4746-4876-8491-d3eca304ffdf" message="After Decrypt : #[payload]" category="maz.playground.crypto"/>
	</flow>
</mule>
